
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.page-header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #103af3;
  background-color: #ffffff;
}

.page-title {
  font-size: 1.8rem;
}

.title-newspaper {
  color: #103af3;
}

.filters-container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  justify-content: center;
  gap: 15px;
  grid: 2;
  
}


@media (max-width: 600px) {
  .title-newspaper {
    color: red;
  }

  .filters-container {
    flex-direction: column;
  }
}